.App {
  text-align: center;
  width: 24em;
  margin-top: 12em;
  margin-left: auto;
  margin-right: auto;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  /* background-color: blue; */
  padding: 16px;
  gap: 12px;
}

.NewTask {
  display: flex;
  gap: 8px;
}

.NewTask > * {
  font-size: medium;
  padding: 12px 16px;
  border-width: 0;
  border-radius: 8px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15);
}

.NewTask input {
  flex-grow: 1;
}

.NewTask button {
  font-weight: bold;
  background-color: cornflowerblue;
  color: white;
}

.NewTask button.disabled {
  background-color: lightgray;
}

.Task {
  display: flex;
  flex-direction: row;
  gap: 8px;
  text-align: left;
}

.Task > * {
  background-color: white;
  padding: 12px 16px;
  border-radius: 12px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15);
}

.Task button {
  border-width: 0;
  font-size: medium;
  font-weight: bold;
}

.Task button.active:hover {
  color: white;
  background-color: lightgreen;
}

.Task button.completed {
  color: lightgreen;
}

.Task button.delete {
  color: tomato;
}

.Task button.delete:hover {
  color: white;
  background-color: tomato;
}

.Task div {
  flex-grow: 1;
  vertical-align: center;
}

.Task div.completed {
  color: darkgray;
  text-decoration: line-through;
}
